@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-bg-primary: #f8f9fa;
  --color-bg-secondary: #f2f2f2;
  --color-surface: #eaeaea;
  --color-border: #dcdcdc;

  --color-text-primary: #111111;
  --color-text-secondary: #5c5c5c;

  --color-brand: #006b75;
  --color-brand-hover: #00545c;
  --color-brand-accent: #0a8c97;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
